@import "tailwindcss";

@theme {
  --color-brand-bg: #EBE3D5; 
  --color-brand-text: #4A332A;
  --color-brand-primary: #C56D53;
  --color-brand-primary-hover: #A85A43;
  --color-brand-card: #FDFBFA; 

  --color-cat-salgados: #D8CCA3;
  --color-cat-doces: #E3C4B6;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}